__pycache__/
schematy-dokumentow/
openapi_python_client_old/

endesive

api/
config/
a-*.py

# certificates
certificates-*.json

*.p12
*.pem
*.key.pem
*.pem.cer

# autentication
*-auth.json
*-auth.xml
*-auth.temp.json
*-auth.xml.xades

# session
*-session.json

# ksef certificates
*-enrollments.json
*-cert.json

# ksef tokens
*-tokens.json

# generated
*-*-*.xml
*-*-*.xml.ref
*-*-*.xml.upo

# venv
venv-*/
venv_*/
venv*/
